<a id="view-on-github-container" href="https://github.com/KrisGoorhuis/personal-website-2.0" target="_blank">
	<div id="view-on-github">
		View site code on github <i class="fa fa-arrow-right" aria-hidden="true"></i>
	</div>
</a>
<div ng-controller="ProjectController" id="projects-container" class="container-fluid">
	<div class="row">
		<a ng-href="{{project.link}}" target="_blank" ng-repeat="project in projectList" class="card embed-responsive col-sm-4 ">
			<img class="img-thumbnail" ng-src="{{project.imagePath}}">
			<div class="text-overlay-container" >
				<div class="text-overlay">
					{{project.name}}
				</div>
			</div>
		</a>
	</div>
</div>