
/*Green: color: rgba(109, 149, 59, 1);*/
/*Purple: rgba(198, 156, 173, 1);*/
/*Black: rgba(52, 58, 64, 1);*/


/*Height governed by #brand below for border purposes*/
#topbar-container {
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	padding: 0px;
	padding-left: 0px;
	background-color: rgba(255, 255, 255, 0.9) !important;
	font-weight: bold;
	border-bottom: 1px solid rgba(200, 200, 200, 1);
	max-height: 70px;
}

#brand {
	
	color: rgba(109, 149, 59, 1);
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(52, 58, 64, 1);
	font-family: 'ABeeZee';	
	cursor: default;
}

@media screen and (max-width: 767px) {
	#brand {
		margin: 0px;
		width: 66.6%;	
	}
}

#hamburger-button {
	font-size: 30px;
   	transition: 0.3s;
  	border: none;
	outline-style: none;
}

#hamburger-button.hamburger-button-active {
   	transform: rotate(-90deg);
   	color: rgba(109, 149, 59, 1.0);
}

.background-dimmer {
	z-index: 2;
	/*position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
	height: 150%; /*For purposes of the tool bar at the top of mobile browsers leaving a gap at the bottom when they go away.*/
	background-color: black;
	opacity: 0.0;
	transition: 0.3s;
}

.background-dimmer.dimmed-out {
	position: fixed;
	display: block;
	opacity: 0.8;
	transition: 0.3s;
}

.navbar-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 69px;
}

.navbar-nav li {
	margin-left: 10px;
	margin-right: 30px;
	font-family: 'ABeeZee';
}

@media screen and (max-width: 767px) {
	#nav-links-div {
		font-size: 40px;
	}

	#nav-bar-ul {
		align-items: flex-start;
	}
	.nav-link {
		color: white !important;
	}
}

#nav-links-div a {
	opacity: 0.99;
	transition: 0.3s;
}

#nav-links-div a:hover {
	cursor: pointer;
	opacity: 1;
	color: rgba(52, 58, 64, 1);
	box-shadow: 0px 5px 4px -4px rgba(109, 149, 59, 1);
	transition: 0.3s;
}

.nav-link {
	padding: 0px !important;
}


#main-jumbotron-container {
	margin-top: 180px;
	max-width: 900px;
	padding: 0px;
	padding-left: 11px;
}

#main-jumbotron-container h1 {
	margin: 0px;
}

@media screen and (max-width: 767px) {
	#main-jumbotron h1 {
		font-size: 30px;
	}
}

#main-jumbotron {
	background-color: white;
	margin: 0px;
	margin-top: 100px;
	padding: 0px;
	padding-bottom: 15px;
	border-bottom: 4px solid rgba(198, 156, 173, 1);
	border-radius: 0px;
}

#sub-jumbotron-text {
	padding: 0px;
	padding-top: 10px;
}

#sub-jumbotron-text p {
	margin: 0px;
}

#sub-jumbotron-text a {
	color: rgba(198, 156, 173, 1);
	font-family: 'ABeeZee';
	transition: 0.2s;
}

#sub-jumbotron-text a:hover {
	transition: 0.2s;
	text-decoration: none;
}

#view-on-github {
	font-size: 14px;
	color: rgba(132, 139, 140, 1);
	font-family: 'Inconsolata';
	font-weight: bold;
	width: 100%;
	background-color: rgba(230, 230, 230, 1);
	margin-top: 120px;
	padding: 4px;
	padding-left: 2%;
	transition: 0.3s;
}

#view-on-github i {
	font-weight: 100;
}

#view-on-github:hover {
	padding-left: 3%;
	transition: 0.3s;
}

#view-on-github-container:hover {
	text-decoration: none !important;
}

#view-on-github:hover {
	color: rgba(198, 156, 173, 1);
}

#projects-container {
	width: 100%;
	background-color: rgba(52, 58, 64, 1);
	border-top: 10px solid rgba(109, 149, 59, 1.0);
}

.card {
	border: none;
	border-radius: 0px;
	background-color: rgba(52, 58, 64, 1);
	margin: 0px;
	padding: 10px;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
}

.card img {
	border: none;
	border-radius: 0px;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	object-fit: cover;
	background-color: rgba(52, 58, 64, 1);
}

.text-overlay-container {
	padding: 10px;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: flex;
	align-items: flex-end;
	transition: 0.3s;
}

.text-overlay-container:hover {
	opacity: 1;
	cursor: pointer;
}

.text-overlay {
	font-size: 30px;
	width: 100%;
	text-align: center;
	background-color: rgba(52, 58, 64, 0.65);
}

#about-container {
	border-top: 10px solid rgba(109, 149, 59, 1.0);
	background-color: rgba(52, 58, 64, 1);
	color: white;
	padding-top: 110px;
}

#about-container p {
	margin-top: 10px;
}

#bio-container {
	display: flex;
	padding: 30px;
	padding-right: 30px;
}



#bio-container img {
	border-radius: 3px;
	margin: 16px;
	margin-right: 30px;
	margin-left: 0px;
	width: 400px;
}

@media screen and (max-width: 767px) {


	#bio-container {
		flex-direction: column;
		padding: 0px;
	}

	#bio-container img {
		width: 100%;
		margin: 0px;
	}
}

h3 {
	margin-top: 70px;
	padding-bottom: 10px;
	border-bottom: 5px solid rgba(109, 149, 59, 1);
}

#skills-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.skill-listing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 15px;
	transition: 0.3s;
}

.skill-listing i {
	padding: 10px;
	padding-bottom: 0px;
	font-size: 40px;
	transition: 0.3s;
}

.skill-listing i:hover {
	color: rgba(109, 149, 59, 1);
}

#social-container {
	font-size: 40px;
}

#social-container a {
	color: white;
	margin: 15px;
	text-decoration: none;
}

#social-container i {
	transition: 0.3s;
	text-decoration: none;
}

#social-container i:hover {
	color: rgba(109, 149, 59, 1);
	transition: 0.2s;
}

#social-container .no-link-given:hover {
	color: white;
}

#email p {
	height: 100px;
}

